.wrapper-card {
  background-color: white;
  margin-top: 20px !important;
  width: 100%;
  /* border: 1px solid black; */
  margin-right: 0;
  /* margin-left: 10px; */
  margin: 0;
}

.img-user {
  border-radius: 10px;
}

.name {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
  color: #4d4b57;
}

.status {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 0;
  color: #7a7886;
}

.amount-in {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #1ec15f;
}

.amount-out {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #ff5b37;
}
