.main-home {
  padding: 30px 100px;
  margin-bottom: 0px;
  background-color: #e5e5e5;
}

.wrapper-menu {
  /* height: 100%; */
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
  /* border: 1px solid black; */
}

.menu {
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 40px 0;
  height: 100%;
}

.menu-item {
  margin-bottom: 30px;
  padding: 5px 40px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
  cursor: pointer;
}

.menu-item:hover {
  color: blue;
}

.active-link {
  margin-bottom: 30px;
  padding: 5px 20px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: blue;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.btn-transfer {
  background: rgba(255, 255, 255, 0.2);
  height: 50px;
  width: 160px;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin: 20px 0;
}

.btn-transfer:hover {
  border: 1px solid #ffffff;
}

.btn-transfer:focus {
  outline: none;
}

.icon-btn {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.title {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: #e0e0e0;
}

.price {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #ffffff;
}

.wrapper-deposite {
  padding: 20px;
}

.deposite {
  background-color: #6379f4;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20px;
}

.main-wrapper-btn {
  padding: 20px;
  background-color: #6379f4;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wrapper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-title > p {
  margin: auto 0px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

.link-seeall {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  color: #6379f4 !important;
}

.link-seeall:hover {
  text-decoration: underline;
}

.wrapper-history {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 20px;
}

.wrapper-chart {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  height: 100%;
  padding: 20px;
}

.modal-body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-modal {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

.text-modal {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
}

.text-hide {
  display: none;
}

.link-topup {
  color: rgb(47, 0, 255);
}

.link-topup:hover {
  text-decoration: underline;
}

.input-topup {
  margin-bottom: 10px;
  width: 80%;
  background: #ffffff;
  border: 1px solid rgba(169, 169, 169, 0.6);
  height: 50px;
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
  padding: 10px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

/* Chrome, Safari, Edge, Opera */
.input-topup::-webkit-outer-spin-button,
.input-topup::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-topup[type="number"] {
  -moz-appearance: textfield;
}

.input-topup:focus {
  outline: none;
}
