.main {
  background-color: #e5e5e5;
}

.btn-try-it {
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  height: 57px;
  width: 173px;
  border: none;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.title {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3a3d42;
  margin-bottom: 30px;
}

.time {
  color: rgb(99, 120, 243);
}

.wrapper-description {
  width: 74%;
  margin-bottom: 30px;
}

.description {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: #3a3d42;
}

.wrapper-logo-platform {
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.wrapper-img-platform {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  background: rgba(71, 58, 209, 0.06);
  margin-bottom: 100px;
}

.title-about {
  color: #3a3d42;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  text-align: center;
  margin-bottom: 30px;
}

.about {
  color: #6379f4;
}

.wrapper-description-about {
  width: 38%;
  margin: 30px auto;
}

.description-about {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #3a3d42;
}

.wrapper-card-about {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  padding: 100px;
}

.card {
  box-shadow: 0px 4px 250px rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  height: 260px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-white {
  background-color: #fff;
  box-shadow: 0px 4px 250px rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  height: 260px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-card {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #3a3d42;
}

.description-card {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.9);
}

.card2 {
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  margin-bottom: 20px;
}

.title2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 60px;
  color: #3a3d42;
  margin-bottom: 30px;
}

.title-card2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  color: #3a3d42;
}

.title-card2 > span {
  color: #6379f4;
}

.description-card2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.9);
}

.card-comment {
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 5px 70px rgba(197, 197, 197, 0.15);
  border-radius: 30px;
  text-align: center;
}

.img-user-comment {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}

.name-comment {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #373c46;
}

.profession-comment {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  color: #56585b;
}

.comment {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: #676a71;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .card {
    width: 244px;
    height: 266px;
  }
}
