.main-home {
  padding: 30px 100px;
  margin-bottom: 0px;
  background-color: #e5e5e5;
}

.wrapper-menu {
  /* height: 740px; */
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid black; */
}

.menu {
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 40px 0;
}

.menu-item {
  margin-bottom: 30px;
  padding: 5px 20px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
  cursor: pointer;
}

.menu-item:hover {
  color: blue;
}

.active-link {
  margin-bottom: 30px;
  padding: 5px 20px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: blue;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 20px;
  color: #a9a9a9;
  padding: 5px;
}

.wrapper {
  padding: 20px;
}

.main {
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  height: 100%;
}

.title {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

.img {
  border-radius: 10px;
}

.wrapper-card {
  display: flex;
  padding: 20px 40px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 40px 0;
}

.name {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #4d4b57;
}

.phone {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #7a7886;
}

.info {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #7a7886;
}

.wrapper-input-cash {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.input-cash {
  width: 40%;
  text-align: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  color: #b5bdcc;
  border: none;
}

.input-cash:valid {
  color: #6379f4;
}

.input-cash::placeholder {
  text-align: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  color: #b5bdcc;
}

.input-cash:focus {
  outline: none;
}

.cash-available {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #3a3d42;
  text-align: center;
}

.wrapper-input-note {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 40%;
  padding: 10px 0;
  border-bottom: 2px solid rgba(169, 169, 169, 0.6);
}

.wrapper-input-note-isi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 40%;
  padding: 10px 0;
  border-bottom: 2px solid #6379f4;
}

.icon1 {
  color: rgba(169, 169, 169, 0.8);
  font-size: 25px;
  margin-right: 20px;
}

.icon-filled {
  color: #6379f4;
  font-size: 25px;
  margin-right: 20px;
}

.input-note {
  border: none;
  /* margin-left: 20px; */
}

.input-note::placeholder {
  /* text-align: center; */
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: rgba(169, 169, 169, 0.8);
}

.input-note:focus {
  outline: none;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 169% */

  /* Zwallet/Dark */

  color: #3a3d42;
}

.wrapper-btn-confirm {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-confirm {
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  border: none;
  width: 170px;
  height: 57px;
}

.btn-confirm:focus {
  outline: none;
}
